@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid red;
}

:root {
/* Primary */
--pink:hsl(322, 100%, 66%);

/* Neutral */

--very-dark-cyan: hsl(192, 100%, 9%);
--very-pale-blue: hsl(207, 100%, 98%);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

header h1 {
    text-align: center;
    color: #00252E;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

header p {
    color: #00252E;
    font-family: Open Sans;
/*     font-family: 'Open Sans', sans-serif; */
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 2rem;    
    width: 600px;
}

.mock {
    margin-top: 5rem;
    width: 960px;
}

.logo {
    margin: 3rem 0 0 3rem;
    width: 240px;
    height: 38px;
}

img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
}

.btn-free {
    background-color: #fff;
    color: var(--pink);
    border: 1px solid var(--pink);
    margin: 3rem 3rem 0 0;
    border-radius: 50px;
    width: 136px;
    height: 40px;
}

.btn-start {
    border: none;
    border-radius: 50px;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px; 
    width: 400px;
    height: 80px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}

/************ GROWTH SECTION *******************/
.growth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
}

.growth h2 {
    margin-left: 4em;  
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
}

.growth p {
    margin: 2rem 0 0 6em;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #00252E;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    width: 520px;
}

.flex::before {
    content: '';
    display: block;
    background-image: url('./images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
    background-position: bottom;
    height: 100px;
    width: 100%;
}

.growth img {
    max-width: 500px;
    margin: 0 6rem 0 -4rem;
}

/************ CONVERSATION SECTION *******************/

.conversation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conversation img {
    max-width: 500px;
    margin-left: 6rem;
}

.conversation h2 {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 0 7rem;
}

.conversation p {
    font-weight: 400;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin: 2rem 0 0 7rem;
    width: 520px;
}


/************ USERS SECTION **********************/
.users {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-pale-blue);
}

.users h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 0 9rem;
}

.users p {
    width: 520px;
    font-weight: 400;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin: 2rem 0 0 9rem;
}

.users img {
   max-width: 500px;
   margin: 0 4rem 0 0;
}

.card::before {
    content: '';
    background-color: #fff;
    display: block;
    background-image: url('./images/bg-section-top-desktop-2.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
}

/************ COMMUNITY SECTION ****************/
.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.community::before {
    content: '';
    background-color: #fff;
    display: block;
    background-image: url('./images/bg-section-bottom-desktop-2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
}

.community h2 {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-top: 4rem;
}

.container h1 {
    font-size: 80px;
}

.container p {
    color: var(--very-dark-cyan);
}

footer{
    background-color: var(--very-dark-cyan);
    height: 594px;
    margin-top: 200px;
}

footer::before {
    content: '';
    display: block;
    height: 100px;
    width: 100%;
    background-image: url('./images/bg-footer-top-desktop.svg');
    background-color: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer h3 {
    color: var(--very-pale-blue);
    margin: 1rem 0 0 3rem;
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 700;
}

footer p {
    color: var(--very-pale-blue);
    margin: 1rem 0 0 3rem;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: 340px;
}

.phone-icon {
    margin: 0 0.4rem;
    width: 24px;
    height: 24px;
}

.email-icon {
    margin: 0 0.4rem;
    width: 24px;
    height: 24px;
}

.logo_white {
    margin: 1rem 0 0 3rem;
}

i {
    color: var(--very-pale-blue);
    cursor: pointer;
    margin: 2rem -1rem 0 3rem;
}

footer input{
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 48px;
    margin: 3rem 0 0 50px;
}

.btn-footer {
    border-radius: 5px;
    border: none;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 160px;
    height: 48px;
    margin-left: 1rem;
}


@media(max-width: 768px) {
    .logo{
        width: 96px;
        height: 16px;
    }
    
    .btn-free{
        width: 80px;
        height: 23.529px;
    }

    .btn-start{
        width: 200px;
        height: 40px;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .growth, .users {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .conversation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .users {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1{
        font-size: 24px;
        width: 280px;
    }

    header p{
        width: 296px;
        font-size: 16px;
        line-height: 21px;
    }

    .mock{
        width: 279.685px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .growth p, .conversation p, .users p {
        text-align: center;
        font-size: 14px;
        width: 320px;
    }

    .growth h2, .conversation h2, .users h2 {
        font-size: 20px;
        text-align: center;
    }

    .growth img, .conversation img, .users img {
        max-width: 100%;
        width: 258.611px;
        height: 211.556px;
    }

    .growth img {
        margin-left: 1rem;
    }

    .conversation img {
        margin-left: -0.5rem;
    }

    .communtiy{
        width: 340px;
        gap: 40px;
    }

    .community h2{
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        width: 344px;
    }

    .flex::before {
        content: '';
        display: block;
        background-image: url('./images/bg-section-top-mobile-1.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #fff;
        background-position: bottom;
        height: 100px;
        width: 100%;
}

    footer {
        width: 100%;
        height: 100%;
    }

    footer::before {
        background-image: url('./images/bg-footer-top-mobile.svg');
        background-repeat: no-repeat;
    }

    footer h3 {
        font-size: 20px;
        position: relative;
        right: 1.3rem;
    }

    footer p{
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        position: relative;
        right: 1.5rem;
        width: 320px;
    }

    footer > .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    footer input {
        width: 320px;
        height: 48px;
        margin-top: 1rem;
        position: relative;
        right: 1.5rem;
        margin-top: 1rem;
    }

    .btn-footer {
        width: 160px;
        height: 48px;
        margin: 1rem 0 0 13rem;
    }
}
